version: '3'
services:
  # DB設定
  db:
    image: mysql:5.7
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: root
    command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql-data:/var/lib/mysql
      - /tmp/dockerdir:/etc/mysql/conf.d/
    ports:
      - "3306:3306"

  # バックエンド設定
  backend:
    build:
      context: ./backend/
      dockerfile: Dockerfile
    stdin_open: true
    tty: true
    command: /bin/sh -c "rm -f /todo-app/tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0'"
    # image: rails:dev
    volumes:
      - ./backend:/todo-app
      - gem_data:/usr/local/bundle
    environment:
      TZ: Asia/Tokyo
      RAILS_ENV: development
    ports:
      - 3001:3000
    depends_on:
      - db

# フロント設定
  frontend:
    build:
      context: ./frontend/
      dockerfile: Dockerfile
    volumes:
      - ./frontend:/usr/src/app
    command: sh -c "cd app && yarn && yarn start"
    ports:
      - "3000:3000"

# データ永続化用
volumes:
  mysql-data:
  gem_data: